## {{ whatsnew.title }}

{{ whatsnew.description }}

{%- assign this_days_ago = 60 | times: 86400 %}
{%- assign date_this_days_ago = "now" | date: "%s" | minus: this_days_ago %}
{%- assign entries = whatsnew.entries | sort_by: "date"%}
{%- assign group_by_date = entries | group_by: "date" %}
{%- assign has_recent_entries = false %}
{%- for date_group in group_by_date %}
{%- assign entry_date_int = date_group.name | date: "%s" | abs %}
{%- if entry_date_int > date_this_days_ago %}
{%- assign has_recent_entries = true %}

### {{ date_group.name }}

<table style="table-layout:auto;">
  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
  {%- for item in date_group.items %}
    <tr>
      <td>
      {{- item.description | markdownify }}
      {%- if item.membership == false and item.link contains "github.com" -%}
      <p><i>Community contribution by {{ item.contributor }}</i></p>
      {%- endif -%}</td>
      <td>
        {{ item.type | replace: "-", " " | capitalize }}
      </td>
      {%- if item.link contains "git.corp" %}
      <td><a href="https://github.com/{{ site.repo }}/commit/{{ item.merge_commit }}">commit</a></td>
      {%- else %}
      <td><a href="{{ item.link }}">pull request</a></td>
      {%- endif %}
    </tr>
  {%- endfor %}
  </tbody>
</table>

{%- endif %}
{%- endfor %}

{%- unless has_recent_entries %}

__No significant documentation updates so far.__
{%- endunless %}
