{%- assign grouped_fixes = fixes | sort: 'Components' | group_by: 'Components' %}
{%- for group in grouped_fixes %}

### {{ group.name }}
{% assign sorted_fixes = group.items | sort: 'Issue key' %}
{%- for fix in sorted_fixes %}
* _{{fix['Issue key']}}_: {{fix['Summary']}}
{%- unless fix['Custom field (Release Note)'] == empty %}
  * _Fix note_: {{fix['Custom field (Release Note)']}}
{%- endunless %}
{%- unless fix['Custom field (External Issue URL)'] == empty %}
  * _GitHub issue_: <{{fix['Custom field (External Issue URL)']}}>
{%- endunless %}
{%- unless fix['Custom field (Git Pull Request)'] == empty %}
  * _GitHub code contribution_: {{fix['Custom field (Git Pull Request)']}}
{%- endunless %}

{%- endfor %}
{%- endfor %}
